#friends-display-link{
    text-align: center;  /* display: block을 하니까 적용됨 */
    display: block;
    background-color: #fafafa;
    padding-top: 115px;
    padding-bottom: 12px;
    font-size: 18px;
    margin-bottom: 10px;
}

/* icon색을 바꾸는게 가능(text라고 생각하면 됨) */
#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel{
    margin-top: 20px;
    border-top: var(--main-border);
    padding-top: 10px;
}
.friends-screen__channel-header{
    margin-bottom: 30px;
    color: rgb(0, 0, 0, 0.4);
    display: flex;   /* 이게 있어야 space-between이 가능 */
    justify-content: space-between;
    align-items: center;
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to{
        /* 
        display: none;     이거도 클릭 안됨
        */
        opacity: 0;    /* 클릭은 안됨 */
        visibility: hidden;   /* 이거는 클릭 됨 */
    }
}

#splash-screen{
    background-color: var(--yellow);
    position: fixed;
    height: 100vh;   /* 화면 높이의 100% */
    width: 100vw;   /* 화면 넓이의 100% */
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;   /* forwards: 마지막 속성이 애니매이션 끝나고도 유지 */
    animation-delay: 0.7s;
}