.screen-header{
    display: flex;
    justify-content: space-between;
    padding: 50px var(--horizontal-space) 20px var(--horizontal-space);
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}
.screen-header__title{
    font-size: 33px;
    font-weight: 550;
}
.screen-header__icons span{
    margin-left: 20px;
}
@keyframes rotateCog {
    0%{
        transform: none;
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: none;
    }
}
.screen-header__icons i:hover{
    animation: rotateCog 1s linear infinite;
}